@import "../node_modules/antd/dist/antd.css";
body {
  margin: 0;
  font-family: "PTWeb", sans-serif;
  font-weight: 400;
  background: #f3f5f6;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: #272f5a;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #189ee9;
}

label {
  width: 100%;
}

label > span {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: rgba(39, 47, 90, 0.45);
}
